@import './bootstrap-grid.scss';
@import './reset.scss';

// ------------------------------------------------------------------------------------------------
// F O N T S
// ------------------------------------------------------------------------------------------------

$body-second-font: 'Poppins', sans-serif;
$subtitle-small: 'Alegreya', serif;

// ------------------------------------------------------------------------------------------------
// C O L O R
// ------------------------------------------------------------------------------------------------
$body-color: #8c8c8c;
$red: #ef261e;
$copyright-color: #676969;
$footer-grey: #999f9f;

// ------------------------------------------------------------------------------------------------
// M I X I N
// ------------------------------------------------------------------------------------------------
@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// ------------------------------------------------------------------------------------------------
// B A S E
// ------------------------------------------------------------------------------------------------
body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    color: $body-color;
    background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Metropolis', sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.container {
    width: 1600px;
}

// ------------------------------------------------------------------------------------------------
// M A I N - H E A D E R
// ------------------------------------------------------------------------------------------------

.main-header {
    margin-bottom: 35px;
}

.main-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 59px;
    border-bottom: 1px solid #CFCFCF;

    p , a {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: #646464;
    }
}

.main-header-sign {

    a {
        padding-left: 7px;
        padding-right: 7px;
        transition: color .4s ease;

        &:hover {
            color: $red;
        }

        &:not(:last-child) {
            border-right: 2px solid #8C9090;
        }
    }
}

.main-header-social {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    a {
        font-size: 15px; 
        color: #646464;
        transition: color .4s ease;

        &:hover {
            color: $red;
        }

        &:not(:last-child) {
            margin-right: 39px;
        }
    }
}

.main-header-sign {
    margin-left: 63px;
}

// ------------------------------------------------------------------------------------------------
// H E A D E R - M I D D L E
// ------------------------------------------------------------------------------------------------

.header-middle {
    padding-top: 47px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}

.header-middle-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.header-form {
    display: flex;
    border: 2px solid #CFCFCF;

    input[type="text"] {
        width: 850px;
        padding: 25px 30px;
        border: none;
        font-family: $body-second-font;
        font-size: 24px;
    }

    input[type="submit"] {
        padding: 15px 40px;
        border: none;
        background-image: url(img/Header/SearchIcon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
    }
}

// ------------------------------------------------------------------------------------------------
// H E A D E R-B O T T O M
// ------------------------------------------------------------------------------------------------

.header-bottom {
    background-color: #fff;
    box-shadow: 0px 10px 15px 0px rgb(64 72 90 / 5%);
}

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;

    a {
        display: inline-block;

        font-family: $body-second-font;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        transition: color .4s ease;

        &:hover {
            color: $red;
        }
    }
}

// ------------------------------------------------------------------------------------------------
// H I G H L I G H T S
// ------------------------------------------------------------------------------------------------

.highlights {
    margin-bottom: 60px;
}

.banner {
    position: relative;

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:hover {
        
        .banner-img {
            
            img {
                transform: scale(1.2);
            }
        }
    }
}

.banner-inner {
    position: absolute;
    bottom: 14px;
    left: 19px;
    padding: 10px;

    h5 {
        font-family: $body-second-font;
        font-size: 27px;
        line-height: 1.2;
        color: #fff;
    }

        span{
        font-family: $subtitle-small;
        font-weight: 400;
        font-style: italic;
        color: #fff;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    i {
        color: #fff;
    }
}

.banner-img {
    overflow: hidden;

    img {
        width: 100%;
        transition: all .4s ease;
    }
}

// ------------------------------------------------------------------------------------------------
// I N F O R M A T I O N
// ------------------------------------------------------------------------------------------------

.information-head {
    display: flex;
    justify-content: space-between;
}

.information-menu {
    display: flex;
}

.information-item {
    padding: 45px;

        a {
            font-size: 28px;
        }

        span {
            font-size: 16px;
            font-weight: 400;
        }
}

.information-img {

    img {
        width: 100%;
        color: #000;
    }
}

.information-inner {
    background-color: #fff;
    box-shadow: 0 0px 7px rgb(33 30 31 / 7%);
}