@import './bootstrap-grid.scss';
@import './reset.scss';

// ------------------------------------------------------------------------------------------------
// F O N T S
// ------------------------------------------------------------------------------------------------

$body-second-font: 'Poppins', sans-serif;
$title-font: 'Metropolis', sans-serif;
$subtitle-small: 'Alegreya', serif;

// ------------------------------------------------------------------------------------------------
// C O L O R
// ------------------------------------------------------------------------------------------------
$body-color: #8c8c8c;
$red: #ef261e;
$copyright-color: #676969;
$footer-grey: #999f9f;

// ------------------------------------------------------------------------------------------------
// M I X I N
// ------------------------------------------------------------------------------------------------
@mixin absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// ------------------------------------------------------------------------------------------------
// B A S E
// ------------------------------------------------------------------------------------------------
body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
    color: $body-color;
    background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    width: 100%;
}

.burger {
    display: none;

    i {
        font-size: 36px;
        color: #000;
    }
}

.row-bottom {
    margin-bottom: 30px;
}

.col-bottom {
    margin-bottom: 30px;
}

.colortext {
    color: $red;
}

// ------------------------------------------------------------------------------------------------
// M A I N - H E A D E R
// ------------------------------------------------------------------------------------------------

.main-header {
    margin-bottom: 35px;
}

.main-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 59px;
    border-bottom: 1px solid #CFCFCF;

    p , a {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: #646464;
    }
}

.main-header-sign {

    a {
        padding-left: 7px;
        padding-right: 7px;
        transition: color .4s ease;

        &:hover {
            color: $red;
        }

        &:not(:last-child) {
            border-right: 2px solid #8C9090;
        }
    }
}

.main-header-social {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    a {
        font-size: 15px; 
        color: #646464;
        transition: color .4s ease;

        &:hover {
            color: $red;
        }

        &:not(:last-child) {
            margin-right: 39px;
        }
    }
}

.main-header-sign {
    margin-left: 63px;
}

// ------------------------------------------------------------------------------------------------
// H E A D E R - M I D D L E
// ------------------------------------------------------------------------------------------------

.header-middle {
    padding-top: 47px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-form {
    display: flex;
    flex-grow: 1;
    max-width: 900px;
    border: 2px solid #CFCFCF;
    margin-left: 40px;

    input[type="text"] {
        width: 90%;
        padding: 25px 30px;
        border: none;
        font-family: $body-second-font;
        font-size: 24px;
    }

    button[type="submit"] {
        width: 10%;
        border: none;
        background-color: #fff;

        i {
            font-size: 26px;
        }
    }
}

// ------------------------------------------------------------------------------------------------
// H E A D E R-B O T T O M
// ------------------------------------------------------------------------------------------------

.header-bottom {
    background-color: #fff;
    box-shadow: 0px 10px 15px 0px rgb(64 72 90 / 5%);
}

.header-bottom-menu {
    display: flex;
    align-items: center;
    min-height: 100px;

    li {
        flex-grow: 1;

        &:not(:last-child) {
            border-right: 1px solid #BBBBBB;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: 15px 45px;
        font-family: $body-second-font;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
        transition: color .4s ease;

        i {
            font-size: 34px;
            margin-right: 12px;
            color: $red;
        }

        &:hover {
            color: $red;
        }
    }
}

// ------------------------------------------------------------------------------------------------
// H I G H L I G H T S
// ------------------------------------------------------------------------------------------------

.highlights {
    margin-bottom: 30px;
}

.banner {
    position: relative;

    a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:hover {
        
        .banner-img {
            
            img {
                transform: scale(1.2);
            }
        }
    }
}

.banner-inner {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;

    h5 {
        font-family: $body-second-font;
        font-size: 25px;
        line-height: 1.2;
        color: #fff;
    }

        span{
        font-family: $subtitle-small;
        font-weight: 400;
        font-style: italic;
        color: #fff;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    i {
        color: #fff;
    }
}

.banner-img {
    overflow: hidden;

    img {
        width: 100%;
        transition: all .4s ease;
    }
}

// ------------------------------------------------------------------------------------------------
// I N F O R M A T I O N
// ------------------------------------------------------------------------------------------------

.information {
    margin-bottom: 60px;
}

.information-head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
    border: 2px solid #F1F1F1;
    background-color: #fff;
    margin-bottom: 10px;

    h3 {
        font-size: 24px;
        text-transform: uppercase;
        padding-left: 25px;
        margin-bottom: 0;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 7px;
            background-color: $red;
        }
    }
}

.information-menu {
    display: flex;

    a {
        font-family: $title-font;
        font-size: 20px;
        font-weight: 600;
        color: #000;
        transition: color .3s ease;
        padding: 10px 22px;

        &:hover {
            color: $red;
        }
    }
}

.burger-info {
    display: none;
    font-size: 30px;
    color: #000;
    padding: 15px;
}

.information-inner {
    background-color: #fff;
    box-shadow: 0 0px 7px rgb(33 30 31 / 7%);
}

.information-item {
    padding: 45px;

    h4 {
        margin-bottom: 10px;
    }

        a {
            font-size: 28px;
            color: #000;
        }
}

.information-date {
    display: flex;
    margin-bottom: 20px;
    
    span {
        font-size: 16px;
        font-weight: 400;
    }
}

.information-img {

    img {
        width: 100%;
        color: #000;
    }
}

.date-one {
    margin-right: 27px;

    i {
        margin-right: 12px;
    }
}

.date-two {
    margin-right: 23px;

    i {
        margin-right: 7px;
    }
}

.date-three {

    i {
        margin-right: 5px;
    }
}

.row-shadow {
    box-shadow: 0 10px 11px rgb(33 30 31 / 10%);
}

// ------------------------------------------
// P R O D U C T
// ------------------------------------------

.product-inner {
    background-color: #fff;
}

.col-right {
        border-right: 2px solid #E5E5E5; ;
}

.product-item {
    padding: 26px 42px;

    h6 {
        font-size: 22px;
    }
}

.product-date {
    font-family: $subtitle-small;
    font-size: 18px;
    font-style: italic;
}

.product-img {

    img {
        width: 100%;
    }
}

.product-raiting {
    display: flex;

    p {
        font-weight: 600;
        color: #000;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

// ------------------------------------------
// P R O S T A T E - T E X T
// ------------------------------------------
.prostate-text {
    background-color: #fff;
    padding: 56px 40px;

    p {
        font-family: 'Myriad Pro', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #8c8c8c;
    }
}

































// ------------------------------------------------------------------------------------------------
// M E D I A
// ------------------------------------------------------------------------------------------------

@media (max-width: 1200px) {

    .header-bottom-menu {

        a {
            padding: 10px;
        }
    }
}

@media (max-width: 1024px) {

    .burger {
        display: block;
    }

    .header-bottom {
        display: none;
    }

    .header-form {
        display: none;
    }
}

@media (max-width: 900px) {

    .information-head {

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 768px) {

    .main-header-date {
        display: none;
    }

    .main-header-sign {
        display: none;
    }
}

@media (max-width: 620px) {

    .main-header-top {
        display: none;
    }

    .information-menu {
        display: none;
    }

    .burger-info {
        display: block;
    }
}